<div class="card">
	<div class="card-header">Notifikasi Terbaru</div>
	<div class="card-body p-0">
		<ul class="list-group">
			<li class="list-group-item">
				<span class="mr-2">
					<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
				</span>
				<span>Cras justo odio</span>
			</li>
			<li class="list-group-item">
				<span class="mr-2">
					<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
				</span>
				<span>Dapibus ac facilisis in</span>
			</li>
			<li class="list-group-item">
				<span class="mr-2">
					<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
				</span>
				<span>Morbi leo risus</span>
			</li>
			<li class="list-group-item">
				<span class="mr-2">
					<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
				</span>
				<span>Porta ac consectetur ac</span>
			</li>
			<li class="list-group-item">
				<span class="mr-2">
					<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
				</span>
				<span>Vestibulum at eros</span>
			</li>
		</ul>
	</div>
</div>
