<%= render partial: 'navbar' %>
<div class="container-fluid">
	<div class="row">
		<%= render 'bcHome' %>
	</div>
	<div class="row">
		<div class="col-xl-7 col-lg-12 col-md-12">
			<%= render 'mahasiswabimbingan' %>
		</div>
		<div class="col-xl-5 col-lg-12 col-md-12">
			<%= render 'notifikasimasuk' %>
		</div>
		&nbsp;
  </div>
</div>