<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 text-center">
        <h3>Pilih Admin</h3><br/>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-5">
        <div class="card border-secondary mb-3">
          <div class="card-body">
            <h5 class="card-title">Super Admin</h5>
            <p class="card-text">Menu Login untuk Super Admin</p>
            <%= link_to 'Login', "/supers/sign_in", class:"btn btn-outline-secondary"%>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-5">
        <div class="card border-secondary mb-3">
          <div class="card-body">
            <h5 class="card-title">Admin</h5>
            <p class="card-text">Menu Login untuk Admin</p>
            <%= link_to 'Login', "/users/sign_in", class:"btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-10">
        <%= link_to root_path, :class => 'nav-icon' do %><span class="icon-home">Back</span><% end %>
      </div>
    </div>
  </div>
</div>
