<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">TAPP</h1>
      <p class="lead">TAPP membantu Anda terhubung dan berbagi dengan orang-orang dalam kehidupan Anda
      </p>
    </div>
  </div>
  <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="card border-secondary mb-3">
            <div class="card-body">
              <h5 class="card-title">Admin</h5>
              <p class="card-text">Menu login untuk Admin</p>
              <%= link_to 'Login', "/options", class:"btn btn-outline-secondary"%>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card border-secondary mb-3">
            <div class="card-body">
              <h5 class="card-title">Dosen</h5>
                <p class="card-text">Menu login untuk Dosen</p>
                <%= link_to 'Login', "/mdosens/sign_in", class:"btn btn-outline-secondary" %>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
        <div class="card border-secondary mb-3">
          <div class="card-body">
            <h5 class="card-title">Mahasiswa</h5>
              <p class="card-text">Menu login untuk Mahasiswa</p>
              <%= link_to 'Login', "/mahasiswas/sign_in", class:"btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
