<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card border-primary mb-3">
          <div class="card-body">
            <h5 class="card-title">Admin</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional
            content.</p>
            <%= link_to 'Admin', "/users/sign_in", class:"btn btn-outline-primary"%>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card border-primary mb-3">
          <div class="card-body">
            <h5 class="card-title">Dosen</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional
              content.</p>
              <%= link_to 'Dosen', "/mdosens/sign_in", class:"btn btn-outline-primary" %>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
      <div class="card border-primary mb-3">
        <div class="card-body">
          <h5 class="card-title">Mahasiswa</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional
            content.</p>
            <%= link_to 'Mahasiswa', "/mahasiswas/sign_in", class:"btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>