<div class="col my-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <%= link_to 'Home', bimdosens_path, :class => 'breadcrumb-item linkbiru' %>
      <li class="breadcrumb-item active" aria-current="page">Mahasiswa Bimbingan</li>
    </ol>
  </nav>
</div>