<div class="card">
	<div class="card-header">Komentar</div>
	<div class="card-body">
    <div class="row">
      <%= render 'saran', hdosen: @hdosen %>
    </div>
    <div class="row">
      <%= render 'pesan' %>
    </div>
  </div>
</div>