<div class="card">
	<div class="card-header">Penampil Dokumen</div>
	<div class="card-body">
    <iframe src="<%= url_for(@hdosen.pdf) %>" width="100%" height="770" style="border: none;"></iframe>
	</div>
</div>